/* src/styles/categoryFilters.css */
.category-slider-container {
  position: relative;
  padding: 0 30px; /* Asegura que las flechas no se superpongan a los botones */
}

.category-slider .slick-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.category-slide {
  padding: 5px;
}

.category-button {
  background-color: #f9b233;
  border-color: #f9b233;
  color: #333;
  font-weight: bold;
}

.category-button:hover {
  background-color: #ff8f00;
  border-color: #ff8f00;
  color: #fff;
}

.slick-prev, .slick-next {
  width: 30px;
  height: 30px;
  background-color: #f9b233;
  border-radius: 50%;
  display: flex !important;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.slick-prev:hover, .slick-next:hover {
  background-color: #ff8f00;
}

.slick-prev::before, .slick-next::before {
  font-size: 20px;
  color: #fff;
}
