/* src/styles/header.css */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9b233; /* Fondo amarillo suave */
    padding: 0 20px;
    height: 64px;
  }
  
  .logo {
    font-size: 24px;
    color: #333; /* Texto de color oscuro */
    cursor: pointer;
    font-weight: bold;
  }
  
  .menu-buttons {
    display: flex;
    gap: 15px;
  }
  
  .menu-buttons .ant-btn {
    background-color: #f9b233; /* Mantén el fondo amarillo suave */
    border-color: #f9b233;
    color: #333; /* Texto oscuro */
  }
  
  .menu-buttons .ant-btn:hover {
    background-color: #ff8f00; /* Fondo anaranjado al pasar el ratón */
    border-color: #ff8f00;
  }
  
  .menu-buttons .ant-btn-text {
    color: #333; /* Texto oscuro */
  }
  
  .menu-buttons .ant-btn-text:hover {
    color: #ff8f00; /* Texto anaranjado al pasar el ratón */
  }
  